<div class="docs-example">
  <style>
    <%= Rouge::Themes::ThankfulEyes.render %>

    .highlight {
      color: #f8fafc;
    }

    .docs-example {
      border: solid 1px #CBD5E1;
      color: #334155;
      background-color: #F8FAFC;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(54, 65, 83, 0.25);
    }

    .docs-example-output {
      padding: 2rem;
    }

    .docs-example-code pre {
      padding: 1rem;
      overflow: auto;
      margin: 0;
    }
  </style>
  <div class="docs-example-output">
    <%= output %>
  </div>
  <div class="docs-example-code">
    <%= code %>
  </div>
</div>
