<div class="docs-example">
  <style>
    <%= Rouge::Themes::ThankfulEyes.render %>

    .docs-example {
      border: solid 1px #CBD5E1;
      color: #334155;
      background-color: #F8FAFC;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(54, 65, 83, 0.25);
    }

    .docs-example-output {
      padding: 2rem;
    }
  </style>
  <div class="docs-example-output">
    <%= output %>
  </div>
  <% code_samples.each do |code_sample| %>
    <%= code_sample %>
  <% end %>
</div>
